<%= form_for(@purchased_information) do |f| %>
  <% if @purchased_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchased_information.errors.count, "error") %> prohibited this purchased_information from being saved:</h2>

      <ul>
      <% @purchased_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buyer %><br>
    <%= f.number_field :buyer %>
  </div>
  <div class="field">
    <%= f.label :seller %><br>
    <%= f.number_field :seller %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.number_field :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
