<h1>Listing purchased_informations</h1>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchased_informations.each do |purchased_information| %>
      <tr>
        <td><%= purchased_information.buyer %></td>
        <td><%= purchased_information.seller %></td>
        <td><%= purchased_information.info %></td>
        <td><%= link_to 'Show', purchased_information %></td>
        <td><%= link_to 'Edit', edit_purchased_information_path(purchased_information) %></td>
        <td><%= link_to 'Destroy', purchased_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchased information', new_purchased_information_path %>
