<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @purchased_information.buyer %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @purchased_information.seller %>
</p>

<p>
  <strong>Info:</strong>
  <%= @purchased_information.info %>
</p>

<%= link_to 'Edit', edit_purchased_information_path(@purchased_information) %> |
<%= link_to 'Back', purchased_informations_path %>
