
<div class="content_header" style="margin: 5% 5%;">
	<h2 tabindex="0"><strong>Genres - </strong><%= @genre.name %></h2>
</div>

<div class="track_playlist" tab-index="0" style="padding-bottom:50px">
	<audio src="" type="mp3" preload="none" class="audio_track" data-track=""></audio>
	<% @songs.each do |s|%>
		<script>
			<% if session[:user_id] == s.song.user[:id] %>
				addTrack("<%= s.song.path %>","<%= s.song.name %>","<%= s.song.user[:name] %>",null);
				//$('.track_playlist').append('<div class="main-separator"></div>');
			<% else %>
				addTrack("<%= s.song.path %>","<%= s.song.name %>","<%= s.song.user[:name] %>",{"startTime":<%= s.song.minMin %>,"endTime":<%= s.song.maxMin %>});
				//$('.track_playlist').append('<div class="main-separator"></div>');
			<% end %>
		</script>
	<% end %>
</div>
<%= will_paginate @songs %>


