<div id="login" class="reveal-modal sign_up_form" style="width:100%;max-width:330px;padding:0 0 10px 0;" data-reveal>
	<%= form_tag sessions_path do %>
	<div class="" style="padding: 20px;">
		<h1 style="font-size: 35px;font-weight: bold;margin-bottom: 30px;">Log in</h1>
		<div class="section-title">
			<h3>Log in with</h3>
		</div> 
		<div class="other_sign_up">
			<a class="button third-party twitter">
				<i class="fi-social-twitter"></i>
				<span>Twitter</span>
			</a>
			<a class="button third-party google">
				<i class="fi-social-google-plus"></i>
				<span>Google</span>
			</a>
		</div>
		<div class="section-title">
			<h3>or</h3>
		</div>  

		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email] %>

		<%= label_tag :password %>
		<%= password_field_tag :password %>

		<p class="button submit"><%= submit_tag "Log in" %></p>
	</div>

	<a class="close-reveal-modal">&#215;</a>

	<% end %>
</div>

<div class="l-front-hero l-inner-fullwidth">
	<div class="frontHero">
		<div class="frontHero__copy">
			<h1 class="frontHero__strapline">Hear the world’s sounds</h1>
			<h2 class="frontHero__intro">
				Millions of other artists<br>
				share their tracks on FlipTalent
			</h2>
		</div>
		<%= image_tag("login_background.jpg", class:"frontHero__image") %>

	</div>
</div>


<div id="signup" class="reveal-modal signup_form" style="width:100%;max-width:330px;padding:0 0 10px 0;" data-reveal>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="" style="padding: 20px;">
    <h1 style="font-size: 35px;font-weight: bold;margin-bottom: 30px;">Sign Up</h1>
    <div class="section-title">
      <h3>Sign up with</h3>
    </div> 
    <div class="other_sign_up">
      <a class="button third-party twitter">
        <i class="fi-social-twitter"></i>
        <span>Twitter</span>
      </a>
      <a class="button third-party google">
        <i class="fi-social-google-plus"></i>
        <span>Google</span>
      </a>
    </div>
    <div class="section-title">
      <h3>or</h3>
    </div>  
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :username %>
      <%= f.text_field :username %>
    
      <%= f.label :name %>
      <%= f.text_field :name %>
   
      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :influencia %>
      <%= f.text_field :influencia %>
   
      <%= f.label :dateBirth %>
      <%= f.text_field :dateBirth, :placeholder => "Ex. 21/02/2014" %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
   
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

    <p class="button submit"><%= f.submit %></p>
  </div>

  <a class="close-reveal-modal">&#215;</a>

<% end %>
</div>



	


<style>
	@media screen{
		.frontHero__strapline{
			font-size: 48px;
		}
		.frontHero__intro{
			font-size: 24px
		}
		.frontHero__copy {
			top:45%;
		}
	}
	@media screen  and (max-width: 1200px){
		
	}
	@media screen  and (max-width: 900px){
		.frontHero__copy {
			top:32%;
		}
		.frontHero__strapline{
			font-size: 32px;
		}
		.frontHero__intro{
			font-size: 16px
		}
	}
	@media screen  and (max-width: 560px){
		.frontHero__copy {
			top:39%;
		}
	}
	.frontHero__strapline {
		margin: 0;
		color: white;
	}
	h1, .sc-type-h1, h2, .sc-type-h2, h3, .sc-type-h3, h4, .sc-type-h4, h5, .sc-type-h5, h6, .sc-type-h6 {
		font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
		font-weight: normal;
		margin: 18px 0 0 0;
		line-height: 1.3;
	}
	.frontHero__copy {
		text-shadow: -2px 2px 4px black;
		position: absolute;
		left: 50%;
		width: 650px;
		margin-left: -325px;
		color: #fff;
		text-align: center;
		color: white;
	}
	.frontHero__intro {
		font-weight: 100;
		margin: 0;
		color: white;
	}
	.frontHero__cta {
		margin-top: 24px;
	}


</style>