<% if session[:user_id] %>
<div id="notice" style="display:none;"><%= notice %></div> 
<div class="ed_tab" style="width: 90%;  min-width: 360px;  margin: auto;border:0">
	<ul id="tabedbar" style="text-align: center;  font-weight: 500;  margin: 25px auto 40px auto;  padding: 0;  position: relative;  /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/  z-index: 1;background:white;">
		<li style="display: inline-block;  background: #fff;  padding: 0.6em 0;  position: relative;  width: 33%;  margin: 0 0 0 -4px;border: 0;">
			<a href="#home" style="color: #444;  text-decoration: none;float: initial;">
				<span style="position: relative;top: -0.5em;font-size: 20px;font-family: Lato;font-weight: 500;">Home</span>
			</a>
		</li>
		<li style="display: inline-block;  background: #fff;  padding: 0.6em 0;  position: relative;  width: 33%;  margin: 0 0 0 -4px;border: 0;"><a href="#genre" style="color: #444;  text-decoration: none;float: initial;">
			<span style="position: relative;top: -0.5em;font-size: 20px;font-family: Lato;font-weight: 500;">Genre</span>
		</a>
	</li>
	<li style="display: inline-block;  background: #fff;  padding: 0.6em 0;  position: relative;  width: 33%;  margin: 0 0 0 -4px;border: 0;"><a href="#popular" style="color: #444;  text-decoration: none;float: initial;">
		<span style="position: relative;top: -0.5em;font-size: 20px;font-family: Lato;font-weight: 500;">Popular</span>
	</a>
</li>
</ul>
<div class="contents">
	<div id="home">
		<div class="feed" id="listen_again">
			<span class="fi-music" style="float: left;font-size: 55px;padding-right: 15px;"></span>
			<span style="display:inline-block">
				<h3 style="margin:0;">Listen Again</h3>
				<h5 style="margin:0;color:gray;font-size:12px;">Latest musics preferences</h5>
			</span>
			<hr>
			<div id="playlist">
				<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-6">
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>Imagin</span></li>
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>Unforgiven III</span></li>
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>Magic</span></li>
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>End of the line</span></li>
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>Price Tag</span></li>
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>Highway to Hell</span></li>
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>Thunderstruck</span></li>
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>One</span></li>
					<li><a href="#"><%= image_tag("metallica.jpeg",class:"e_border") %></a><span>Asian Roots</span></li>
				</ul>
			</div>
		</div>
		<div class="feed" id="recomended">
			<span class="fi-like" style="float: left;font-size: 55px;padding-right: 15px;"></span>
			<span style="display:inline-block">
				<h3 style="margin:0;">Recomended</h3>
				<h5 style="margin:0;color:gray; font-size:12px;">Artists you have listen recently</h5>
			</span>

			<hr>
			<div id="playlist">
				<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-6">
					<% Follower.where(follower:session[:user_id]).each do |f| %>
					<% Song.where(user_id:f.followed).each do |song| %>
					<li><a href="/songs/<%= song.id %>"><%= image_tag(song.demo,class:"e_border" )%></a><span><%= song.name %></span></li>
					<% end %>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="feed" id="subscribers">
			<span class="fi-ticket" style="float: left;font-size: 55px;padding-right: 15px;"></span>
			<span style="display:inline-block">
				<h3 style="margin:0;">Subscribers</h3>
				<h5 style="margin:0;color:gray; font-size:12px;">Latest musics preferences</h5>
			</span>

			<hr>
			<div id="playlist">
				<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-6">
					<% Follower.where(follower:session[:user_id]).each do |f| %>
					<% f_info = User.find(f[:followed]) %>
					<li>
						<% if (PurchasedInformation.where(buyer:session[:user_id],seller:f_info.id).first or session[:user_id] == f_info.id) %>
							<a href="<%= f_info.username %>"><%= image_tag(f_info.avatar,class:"e_border" )%></a><span><%= f_info.name %></span>
						<% else %>
	        				<a href="<%= f_info.username %>"><%= image_tag('default_user.png',class:"e_border" )%></a><span>Unknown</span>
						<% end %>
					</li>
					<% end %>									
				</ul>
			</div>
		</div>   
	</div>
	<div id="genre">
		<div class="content_header">
			<span class="fi-list-thumbnails" style="float: left;font-size: 55px;padding-right: 15px;"></span>
			<span style="display:inline-block">
				<h3 style="margin:0;">Genres</h3>
				<h5 style="margin:0;color:gray; font-size:12px;">Popular Songs Genres</h5>
			</span>
			<hr>
		</div>
		<ul class="genre_list">
			<% Genre.all.order(:name).each do |g| %>
			<li>
				<a class="genreName" href="genres/<%= g.id %>"><%= g.name %></a>
				<div style="padding-right:15px">
					<span><a>(<%= SongType.all.where(genre_id:g.id).count %> tracks)</a></span>
					<span class="fi-star favorite_genre" style="float:left;"></span>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
	<div id="popular">
		<div class="content_header">
			<h2>Popular</h2>
		</div>
		<div class="track_playlist" tab-index="0" style="padding-bottom:50px">
			<audio src="" type="mp3" preload="none" class="audio_track" data-track=""></audio>
			<% Song.all.order(:user_id).limit(15).each do |s| %>
				<script>
					<% if session[:user_id] == s.user[:id] %>
						addTrack("<%= s.path %>","<%= s.name %>","<%= s.user[:name] %>",null);
					<% else %>
						addTrack("<%= s.path %>","<%= s.name %>","<%= s.user[:name] %>",{"startTime":<%= s.minMin %>,"endTime":<%= s.maxMin %>});
					<% end %>
				</script>
			<% end %>
		</div>
	</div>

</div>
</div>
<% end %>