<h1>Listing favorites</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.id %></td>
        <td><%= favorite.user_id %></td>
        <td><%= favorite.song_id %></td>
        <td><%= link_to 'Show', favorite %></td>
        <td><%= link_to 'Edit', edit_favorite_path(favorite) %></td>
        <td><%= form_for :favorite, url: destroy_favorite_path, html: { id: "delete_favorite", style: "display:inline-block;" }, authenticity_token: form_authenticity_token do |f| %>
  
  <%= f.hidden_field  :user_id, { :value => favorite.user_id } %>
  <%= f.hidden_field  :song_id, { :value => favorite.song_id } %>

  <i class="fi-star favorite">
    <%= submit_tag nil %>
  </i>

<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite', new_favorite_path %>
