
<div class="content_header" style="margin: 5% 5%;">
	<h2 tabindex="0"><strong>Favorites
</div>

<div class="track_playlist" tab-index="0" style="padding-bottom:50px">
	<audio src="" type="mp3" preload="none" class="audio_track" data-track=""></audio>
	<% @favorites.each do |f|%>
		<% s = Song.find(f.song_id) %>
		<script>
			<% if session[:user_id] == s.user[:id] %>
				addTrack("<%= s.path %>","<%= s.name %>","<%= s.user[:name] %>",null);
			<% else %>
				addTrack("<%= s.path %>","<%= s.name %>","<%= s.user[:name] %>",{"startTime":<%= s.minMin %>,"endTime":<%= s.maxMin %>});
			<% end %>
		</script>
	<% end %>
</div>
<%= will_paginate @songs %>