<%= form_for(@reportable) do |f| %>
  <% if @reportable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reportable.errors.count, "error") %> prohibited this reportable from being saved:</h2>

      <ul>
      <% @reportable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :registrationDate %><br>
    <%= f.datetime_select :registrationDate %>
  </div>
  <div class="field">
    <%= f.label :context %><br>
    <%= f.number_field :context %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
