<h1>Listing reportables</h1>

<table>
  <thead>
    <tr>
      <th>Registrationdate</th>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reportables.each do |reportable| %>
      <tr>
        <td><%= reportable.registrationDate %></td>
        <td><%= reportable.context %></td>
        <td><%= link_to 'Show', reportable %></td>
        <td><%= link_to 'Edit', edit_reportable_path(reportable) %></td>
        <td><%= link_to 'Destroy', reportable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reportable', new_reportable_path %>
