<p id="notice"><%= notice %></p>

<p>
  <strong>Registrationdate:</strong>
  <%= @reportable.registrationDate %>
</p>

<p>
  <strong>Context:</strong>
  <%= @reportable.context %>
</p>

<%= link_to 'Edit', edit_reportable_path(@reportable) %> |
<%= link_to 'Back', reportables_path %>
