<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div data-alert class="alert-box alert" id="error_explanation">
      
      <h3>Sorry... You made <%= pluralize(@user.errors.count, "mistake") %>:</h3>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <form>
    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :avatar %><br>
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>
    </div>

    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :contact %><br>
        <%= f.text_field :contact %>
      </div>
    </div>

    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :bio %><br>
        <%= f.text_area :bio %>
      </div>
    </div>
    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :nationality %><br>
        <%= f.text_field :nationality %>
      </div>
    </div>
    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :facebookurl %><br>
        <%= f.text_field :facebookurl %>
      </div>
    </div>
    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :twitterurl %><br>
        <%= f.text_field :twitterurl %>
      </div>
    </div>

    <div class="row">
      <div class="actions">
        <div class="large-9 columns">
         <%= f.submit class: "button small radius" %>
       </div>
     </div>
    </div>
  </form>
<% end %>
