<form accept-charset="UTF-8" action="/list/followers" class="follow_img" id="new_follower" method="post">
  <div style="display:none">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  </div>

  <input id="follower_follower" name="follower[follower]" type="hidden" value="<%= session[:user_id] %>">
  <input id="follower_followed" name="follower[followed]" type="hidden" value ="<%= @user.id %>">
  <span class="fi-star">
    <input name="commit" type="submit" style="position: absolute;width: 10px;top: 0px;opacity: 0;"> 
  </span>   
</form>