<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <div class="row field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="row field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="row field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="row field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="row field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="row field">
   <%= f.label :location_id %><br>
   <%= f.text_field :location_id %>
  </div>
  <div class="row field">
    <%= f.label :money %><br>
    <%= f.text_field :money %>
  </div>
  <div class="row field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="row field">
    <%= f.label :dateBirth %><br>
    <%= f.date_select :dateBirth, :order => [:day, :month, :year], :start_year => Time.now.year - 113, :end_year => Time.now.year - 13 %>
  </div>
  <div class="row field">
    <%= f.label :bio %><br>
    <%= f.text_field :bio %>
  </div>
  <div class="row field">
    <%= f.label :bronze %><br>
    <%= f.text_field :bronze %>
  </div>
  <div class="row field">
    <%= f.label :silver %><br>
    <%= f.text_field :silver %>
  </div>
  <div class="row field">
    <%= f.label :gold %><br>
    <%= f.text_field :gold %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</form>
<% end %>
