<a data-confirm="You want to stop follow this person?" data-method="delete" href="/followers/<%= Follower.where(follower:session[:user_id],followed:@user.id).first.id %>" rel="nofollow" class="follow_img following" title='Following'>
	<span class="fi-star"></span> 
</a>