<!-- Reveal Modals begin -->
<div id="songsinfo_modal" class="reveal-modal" style="width:inherit" data-reveal>
  <h2>Songs</h2><hr>

  <ul class="subscribers_list">
    <% Song.all.where(user:@user).each do |song| %>
      <li>
        <%= image_tag(song.demo, class:"e_border")%>
        <a href="/songs/<%= song[:id] %>" style="color: black;"><span><%= song[:name] %></span></a>
        <div class="popularity" style="float:right;position:relative;top:0;width:115px;background:white;margin:0; padding:0;right:0">
          <a><i class="fi-like" style="color: #B89929;"></i><span><%= Vote.all.where(song_id:song.id, vote:true).count %></span></a>
          <a><i class="fi-dislike" style="color: #CC701F;"></i><span><%= Vote.all.where(song_id:song.id, vote:false).count %></span></a>
        </div>
      </li>
    <% end %>
  </ul>


  <a class="close-reveal-modal">&#215;</a>
</div>