<!-- Reveal Modals begin -->
<div id="subscribers_modal" class="reveal-modal" style="width:inherit" data-reveal>
  <h2>Subscribers</h2><hr>

  <ul class="subscribers_list">
    <% Follower.all.where(followed:@user.id).each do |f| %>
      <li>
        <% follower_info = User.find(f[:follower]) %>
        <% if (PurchasedInformation.where(buyer:session[:user_id],seller:follower_info[:id]).first) %><%= image_tag(follower_info.avatar, class:"e_border")%><% else %><%= image_tag("default_user.png", class:"e_border")%><% end %>
        <a href="/users/<%= follower_info[:id] %>" style="color: black;"><span><% if (PurchasedInformation.where(buyer:session[:user_id],seller:follower_info[:id]).first) %><%= follower_info[:name] %><% else %>Unknown<% end %></span></a>
      </li>
    <% end %>
  </ul>


  <a class="close-reveal-modal">&#215;</a>
</div>


<style>
.subscribers_list{
  list-style: none;
}
.subscribers_list li{
  display: block;
  padding: 10px 0;
  font-size: 19px;
  font-weight: bold;
}
.subscribers_list li img{
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

</style>