<% if session[:user_id] == @user.id%>
			<div id="upload_song" class="reveal-modal" data-reveal style="padding:0px;min-height: 0;">
        <form accept-charset="UTF-8" action="/songs" class="new_song" enctype="multipart/form-data" id="new_song" method="post">
          <div style="display:none">
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          </div>
          <ul class="upload_info dropzone">
            <li style="display:inline-flex;">
              <div class="dz-preview dz-file-preview dz-processing dz-success">  
                <input id="song_path" name="song[path]" type="file" value="" style="position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity:0;height:100%;z-index:999;" onchange="myFunction()"> 
                <div class="dz-details">    
                  <div class="dz-filename" style="//visibility: hidden;">
                    <span data-dz-name=""></span>
                  </div>    
                  <div class="dz-size" data-dz-size="">
                    <strong>0.00</strong> MB
                  </div>    
                  <img data-dz-thumbnail="">  
                </div>  
                <div class="dz-progress">
                  <span class="dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span>
                </div>  
                <div class="dz-success-mark" style="visibility: hidden;">
                  <span>✔</span>
                </div>  
                </div>
                  <div style="width:140px; margin: 20px 0;">
                    <span style="display: block;margin-bottom: 13px;">Demo duration</span>
                    <div>
                      <i class="fi-play-video" style="position: absolute;left: 155px;top:60px"></i>
                      <input id="song_minMin" min="0.0" name="song[minMin]" placeholder="Start" type="number">
                    </div>
                    <div>
                      <i class="fi-play-video" style="position: absolute;left: 155px;top: 107px;"></i>
                      <input id="song_maxMin" min="0.0" name="song[maxMin]" placeholder="End" type="number">
                    </div>
                  </div>   
                </li>                   
                <li style="display:block">
                  <div style="margin: 0 17px;">
                    <i class="fi-music" style="position: absolute;top: 4px;left: 25px;"></i>
                    <input id="song_name" name="song[name]" placeholder="Name" type="text">
                  </div>
                </li>
                <li style="display:block">
                  <div style="margin: 0 17px;">
                    <div style="display:inline-block">
                      <i class="fi-price-tag" style="position: absolute;top: 4px;left: 25px;"></i><i class="fi-euro" style="left: 90px;position: absolute;top: 4px;"></i>
                      <input id="song_price" max="10.0" min="0.01" name="song[price]" placeholder="Price" step="0.01" type="number">
                    </div>
                  </div>
                </li>
                <li>
                  <input id="song_demo" name="song[demo]" type="file">
                </li>
                    <div class="fi-upload" style="font-size: 55px;display:inline-block;position: absolute; bottom:10px;right:20px">
                      <input name="commit" type="submit" value="" style="position: relative;right: 0px;height: 55px;cursor: pointer;width: 50px;bottom:21px;opacity:0;position:absolute;">
                    </div>
              </ul>
            </form>
          </div>
			<% end %>
			