<!-- Reveal Modals begin -->
<div id="info_modal" class="reveal-modal" style="width:inherit" data-reveal>
  <h2>Info</h2><hr>
  <p> <%= @user.bio %></p>
  <a class="change_modal" href="#" data-reveal-id="contacts">Contacts</a>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="contacts" class="reveal-modal" style="width:82%;min-height:0" data-reveal>
  <h2>Contacts</h2><hr>
  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong>Contact:</strong>
    <%= @user.contact %>
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>