<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Password_hash</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Money</th>
      <th>Contact</th>
      <th>Datebirth</th>
      <th>Bio</th>
      <th>Bronze</th>
      <th>Silver</th>
      <th>Gold</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td style="max-width:50px;overflow:hidden"><%= user.password %></td>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= user.money %></td>
        <td><%= user.contact %></td>
        <td><%= user.dateBirth %></td>
        <td><%= user.bio %></td>
        <td><%= user.bronze %></td>
        <td><%= user.silver %></td>
        <td><%= user.gold %></td>
        <td><%= user.location %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
