<div id="signup" class="reveal-modal signup_form" style="width:100%;max-width:330px;padding:0 0 10px 0;" data-reveal>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="" style="padding: 20px;">
    <h1 style="font-size: 35px;font-weight: bold;margin-bottom: 30px;">Sign Up</h1>
    <div class="section-title">
      <h3>Sign up with</h3>
    </div> 
    <div class="other_sign_up">
      <a class="button third-party twitter">
        <i class="fi-social-twitter"></i>
        <span>Twitter</span>
      </a>
      <a class="button third-party google">
        <i class="fi-social-google-plus"></i>
        <span>Google</span>
      </a>
    </div>
    <div class="section-title">
      <h3>or</h3>
    </div>  
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :username %>
      <%= f.text_field :username %>
    
      <%= f.label :name %>
      <%= f.text_field :name %>
   
      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :influencia %>
      <%= f.text_field :influencia %>
   
      <%= f.label :dateBirth %>
      <%= f.text_field :dateBirth, :placeholder => "Ex. 21/04/2014" %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
   
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

    <p class="button submit"><%= f.submit %></p>
  </div>

  <a class="close-reveal-modal">&#215;</a>

<% end %>
</div>
