<div class="profile_header">
	<div class="col user_img_col" style="width:150px;position: relative;">
		<% if @user.id != session[:user_id]%>

			<%= image_tag(@user_image) %>

			<% if !(Follower.where(follower:session[:user_id],followed:@user.id).first) %>
				<%= render 'followform' %>
			<% else %>
				<%= render 'nofollowform' %>
			<% end %>
			<div style="display: table;padding-top: 5px;width:130px;text-align:center">
				<span style="color: #cc9933;font-weight: bold;font-size: 15px;"><%= Follower.where(followed:@user.id).count %></span>
				<span style="font-size: 15px;color: #777;"> followers</span>
			</div>
		<% else %>
			<%= image_tag(@user.avatar_url, :alt => @user.username) %>
		<% end %>
	</div>
	<div class="col">
		<div class="">
			<span class="name"><%= @username %><% if @user.id == session[:user_id]%><a href="<%= @user.username %>/edit"><span class="fi-pencil"></span></a><% end %></span>
			
				<span style="font-size:11px"><%= @user.nationality %> member
					<% if (@username != 'Unknown') %>
						<% if @user.facebookurl %><a class="fi-social-facebook social_link" target="_blanck" href="<%= @user.facebookurl%>"></a><% end %>
						<% if @user.twitterurl %><a class="fi-social-twitter social_link" target="_blanck" href="<%= @user.twitterurl%>"></a><% end %>
					<% end %>
				</span>
			
				<div class="user_info">
					<a href="#" data-reveal-id="info_modal"><p class="brief_info">
						<%= @user.bio %></p></a> 
				</div>
			
			</div>
		</div>
	</div>
	<% if @user.id == session[:user_id]%>
	<div class="account_info" style="margin-top: 12px;">
		<ul>
			<li><a data-reveal-id="subscribers_modal"><span class="song_count"><%= Follower.all.where(followed:@user.id).count %></span><span class="lable">Subsribers</span></a></li>
			<li><a data-reveal-id="songsinfo_modal"><span class="song_count"><%= Song.all.where(user:@user).count %></span><span class="lable">Songs</span></a></li>
			<li><a href="#playlist"><span class="song_count">0</span><span class="lable">Playlists</span></a></li>
		</ul>
	</div>	
	<% end %>
	<div style="margin-top: 60px;width: 104%;height: 55px;right: 2%;position: relative;background: #fff;border-top: 1px solid #D4D4D4;border-left: 1px solid #B3B3B3;border-right: 1px solid #B3B3B3;-moz-box-shadow: 0 1px 10px -1px #D9D9D9;-webkit-box-shadow: 0 1px 10px -1px #D9D9D9;box-shadow: 0 1px 10px -1px #D9D9D9;">		
		<span style="font-size: 30px;font-weight: bold;color: white;text-shadow: 2px -1px 4px #805F1F;display: inline-block;position: relative;margin: 20px 20px;">Uploads </span>
		<span class="song_name" style="font-size: 20px;font-weight: bold;color: #cc9933;text-shadow: -1px 1px 3px #333;position: relative;bottom: 3px;"></span>
		<%if session[:user_id] == @user.id %>
		<a data-reveal-id="upload_song">
			<span class="fi-plus" style="font-size: 20px;font-weight: bold;color: #cc9933;text-shadow: -1px 1px 3px #333;position: relative;bottom: 3px;margin:20px;float:right;"></span>
		</a>
		<% end %>
	</div>
	<div style="padding: 7px;background: white;border-top: 1px solid #D4D4D4;border-left: 1px solid #B3B3B3border-right: 1px solid #B3B3B3border-bottom: 1px solid #BDBDBD;-moz-box-shadow: 0 1px 10px -1px #D9D9D9;-webkit-box-shadow: 0 1px 10px -1px #D9D9D9;box-shadow: 0 1px 10px -1px #D9D9D9;width: 105%;right: 3.2%;position: relative;">
		<div class="playlist_border">
			<div id="playlist" class="medium-items" style="padding: 15px 0;">
				<ul id="user_songs" class="" style="margin:0">
					<% if Song.all.where(user:@user).count > 0 %>
						<% Song.all.where(user:@user).each do |song| %>
							<li data-name="<%= song.name %>">
								<div>
									<a href="/songs/<%= song.id %>#" style="display:block">
										<% if song.demo_url %>										
											<%= image_tag(song.demo, class:"e_border") %>
										<% else %>
											<%= image_tag("track.png", class:"e_border") %>
										<% end %>
									</a>
								</div>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 35px;width: 104%;height: 20px;right: 2%;position: relative;background: #fff;border-top: 1px solid #D4D4D4;border-left: 1px solid #B3B3B3;border-right: 1px solid #B3B3B3;-moz-box-shadow: 0 1px 10px -1px #D9D9D9;-webkit-box-shadow: 0 1px 10px -1px #D9D9D9;box-shadow: 0 1px 10px -1px #D9D9D9;">		
	</div>
	<%= render "uploadsongform" %>
	<%= render "userinfo" %>
	<%= render "subscribers" %>
	<%= render "songsinfo" %>


	