<form action="/list/purchases" method="post">
    
  <div style="display:none">
     <input name="utf8" type="hidden" value="✓">
     <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  </div>
    <input type="hidden" name="purchase[user_id]" value="5">
    <input type="hidden" name="purchase[song_id]" value="14">
</form>
