<div id="addGenreModal" class="reveal-modal" data-reveal style="padding:28px;min-height: 0;">
	<form accept-charset="UTF-8" action="/list/song_types" id="new_genre" method="post" style="display:inline-block;">
		<div style="display:none">
			<input name="utf8" type="hidden" value="✓">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		</div>

		<select id="song_type_genre_id" name="song_type[genre_id]" style="display: inline-block;width: 190px;height: 13px;border-radius: 9px;margin: 0;">
			<% Genre.all.each do |g|%>
				<option value="<%= g.id %>"><%= g.name %></option>
			<% end %>
		</select>

		<input id="song_type_song_id" name="song_type[song_id]" type="hidden" value ="<%= @song.id %>">

		<p class="button submit"><input name="commit" type="submit" value="add"></p>

	</form>
</div>