<%= form_for :vote, url: create_vote_path, html: { id: "new_vote", style: "display:inline-block;" }, authenticity_token: form_authenticity_token do |f| %>
  
  <%= f.hidden_field  :user_id, { :value => session[:user_id] } %>
  <%= f.hidden_field  :song_id, { :value => @song.id } %>
  <%= f.hidden_field :vote, { :value => "false" } %>

  <i class="fi-dislike favorite">
    <%= submit_tag nil %>
    <span><%= Vote.all.where(song_id:@song.id, vote:false).count %></span>
  </i>

<% end %>
