<%= form_for(@song) do |f| %>
<% if @song.errors.any? %>
<div data-alert class="alert-box alert" id="error_explanation">

  <h3>Sorry... You made <%= pluralize(@song.errors.count, "mistake") %>:</h3>

  <ul>
    <% @song.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>

  <a href="#" class="close">&times;</a>
</div>
<% end %>

<form>
  <ul class="upload_info">
  <%= f.file_field :path %>
  <li>
    <i class="fi-music"></i>
    <%= f.text_field :name, :placeholder => "Name" %>
  </li>
  <li><i class="fi-price-tag"></i><i class="fi-euro" style="left: 80px;"></i>
    <%= f.number_field(:price, in: 0.01..10.0, step: 0.01, :placeholder => "Price") %>
  </li>
  <li>
    <i class="fi-play-video" style="top: 2;left: 200px;"></i>
    <%= f.number_field(:minMin, :min => 0.0, :placeholder => "Start") %>
    <i class="fi-play-video" style="top: 2;left: 200px;"></i>
    <%= f.number_field(:maxMin, :min => 0.0, :placeholder => "End") %>
    <div class="row field">
      <div class="large-9 columns">
        <%= f.label :demo %><br>
        <%= f.file_field :demo %>
      </div>
    </div>
    <div class="actions button large radius">
      <%= f.submit %>
    </div>
  </li>
</ul>
</form>
<% end %>
