<!-- <form accept-charset="UTF-8" action="/destroy/favorite" id="delete_favorite" method="post" style="display:inline-block">
  <div style="display:none">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  </div>

  <input id="favorite_user_id" name="favorite[user_id]" type="hidden" value ="<%= session[:user_id] %>">
  <input id="favorite_song_id" name="favorite[song_id]" type="hidden" value ="<%= @song.id %>">
  <i class="fi-star unfavorite">
    <input name="commit" type="submit" style="position: absolute;width: 16px;height: 26px;right: 9px;top: 2px;opacity: 0;"> 
  </i> 
</form> -->

<%= form_for :favorite, url: destroy_favorite_path, html: { id: "delete_favorite", style: "display:inline-block;" }, authenticity_token: form_authenticity_token do |f| %>
	
	<%= f.hidden_field	:user_id, { :value => session[:user_id] } %>
	<%= f.hidden_field	:song_id, { :value => @song.id } %>

	<i class="fi-star unfavorite">
		<%= submit_tag nil, class: "favorite-button", style:"position: absolute;width: 16px;height: 26px;left: 182px;top: 17px;opacity: 0;" %>
	</i>

<% end %>
