<h1>Listing songs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Minmin</th>
      <th>Maxmin</th>
      <th>Price</th>
      <th>PathSong</th>
      <th>PathImg</th>
      <th>User</th>
      <th>Main Genre</th>
      <th>Main Influence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.minMin %></td>
        <td><%= song.maxMin %></td>
        <td><%= song.price %></td>
        <td><%= song.path %></td>
        <td><%= song.demo %></td>
        <td><%= song.user_id %></td>
        <td><%= song.genre %></td>
        <td><%= song.main_influence %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
