<div class="track_playlist">
  <audio src="" type="mp3" preload="none" class="audio_track" data-track=""></audio>
</div>
<% if @search.count > 0 %>
	<% @search.each do |s| %>
	<script>
  		addTrack("<%= s.path %>","<%= s.name %>","<%= s.user[:name] %>",{"startTime":<%= s.minMin %>,"endTime":<%= s.maxMin %>});
	</script>
	<% end %>
<% else %>
	<div id="no_search_song" data-alert class="alert-box alert round">
	  	<strong>No results found. Try other search.</strong>
	</div>
<% end %>
<%= link_to 'Back to profile', user_path(session['user_id']), :id => "bsb" %>