<div id="notice"><%= notice %></div>
<div id="Tsunami_0_modal">
	<div class="song_info_banner">
		<div class="popularity">
						<%= render "likeform" %>
						<%= render "dislikeform" %>
						<% if Favorite.where(user_id: session[:user_id], song_id: @song.id).blank? %>
						<%= render 'favorite' %>
						<% else %>
						<%= render 'unfavorite' %>
						<% end %>
					</div>
	</div>
	<div style="position: relative;bottom: 94px;">
		<div class="song_info_body">
			<div class="song_image_body">
					<%= image_tag(@song.demo, style:"width:175px;height: 175px;") %>
				<div class="add_to_playlist">
					<a data-dropdown="myplaylists" aria-controls="myplaylists" aria-expanded="false">
						<i class="fi-plus"></i>
					</a>
					<ul id="myplaylists" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
						<li><a>Playlist 1</a></li>
						<li><a>Playlist 2</a></li>
						<li><a>Playlist 3</a></li>
						<hr style="margin: 0;">
						<!--li><a href="#" data-reveal-id="myModal">New Playlist</a></li-->
					</ul>
					<div id="myModal" class="reveal-modal" data-reveal>
						<h2>Create new playlist</h2>
						<hr>
						<p class="lead">Name</p>
						<input type="text">
						<a class="close-reveal-modal">&#215;</a>
					</div>
				</div>
				<div class="purchases_info">
					<div class="statistics">
						<span class="num_purchases">0</span>
						<span>&nbspPurchasers</span>
					</div>
					<% if @song.user[:id] != session[:user_id] %>
					<div class="buy">
						<a data-reveal-id="myPurchase">
							<i class="fi-shopping-cart"></i>
							<span class="">Purchase</span>
						</a>
						<%= render "purchases/form" %>
					</div>
					<% end %>
				</div>
			</div>
			<div class="song_main_info">
				<span class="name">
					<%= @song.name%>
					<% if @song.user[:id] == session[:user_id] %>
					<%= link_to "", edit_song_path(@song), class:"fi-pencil", style:"position: relative;font-size: 21px;bottom: 25px;color: black;right: 9px;text-shadow: none;"%>
					<%= link_to "", @song, method: :delete, data: { confirm: 'Are you sure?' }, class:"fi-x", style:"position: relative;font-size: 21px;bottom: 25px;color: black;right: 9px;text-shadow: none;"%>
					<% end %>
				</span>
				<% if (PurchasedInformation.where(buyer:session[:user_id],seller:@song.user[:id]).first or session[:user_id] == @song.user[:id]) %>
					<a href="/<%= @song.user[:username] %>"><span class="artist"><%= @song.user[:name]%></span></a>
				<% else %>
					<a href="/user/<%= @song.user[:id] %>"><span class="artist">Unknown</span></a>
				<% end %>
				<div class="text_field">
					<%= @song.description %>
				</div>
				<div class="genres_info">
					<ul>
						<% SongType.all.where(song_id:@song.id).each do |st|%>
						<li><span class="genre"><%= st.genre.name %></span><a class="remove_genre"><i class="fi-x"></i></a></li>
						<% end %>
						<% if @song.user[:id] == session[:user_id] %>
						<li><a data-reveal-id="addGenreModal"><span class="genre" style="box-shadow: 0px 0px 7px 1px black;">Add +</span></a></li>
						<% end %>
					</ul>

				</div>
			</div>
		</div>
		<div class="price_tag" style="position: absolute;top: 0px;left: 193px;">
			<span class="fi-price-tag"><%= image_tag("cordel.png") %></span>
			<div class="price"><%= @song.price %>€</div>											
		</div>
	</div>
</div>

<div style="padding: 7px;background: white;border-top: 1px solid #D4D4D4;border-left: 1px solid #B3B3B3border-right: 1px solid #B3B3B3border-bottom: 1px solid #BDBDBD;-moz-box-shadow: 0 1px 10px -1px #D9D9D9;-webkit-box-shadow: 0 1px 10px -1px #D9D9D9;box-shadow: 0 1px 10px -1px #D9D9D9;width: 101%;right: 1%;position: relative;margin-bottom: 12px;">
	<div class="playlist_border">
		<div class="track_playlist">
			<audio src="" type="mp3" preload="none" class="audio_track" data-track=""></audio>
		</div>
	</div>
</div>

<%= render "addGenre" %>

<script>
	function opacity(element_id){
		if($("#"+element_id).text() == "")
			$("#"+element_id).css("opacity","0");
	}

	<% if session[:user_id] == @song.user[:id] %>
	addTrack("<%= @song.path %>","<%= @song.name %>","<%= @song.user[:name] %>",null);
	<% else %>
	addTrack("<%= @song.path %>","<%= @song.name %>","<%= @song.user[:name] %>",{"startTime":<%= @song.minMin %>,"endTime":<%= @song.maxMin %>});
	<% end %>
	opacity('notice');
</script>

<style type="text/css">
	.genres_info ul li:hover .remove_genre{
		display: inline-block;
	}
	.remove_genre{
		position: relative;
		bottom: 9px;
		right: 6px;
		width: 0;
		display: none;
	}
	.remove_genre i{
		display: flex;
	}
</style>
