<%= form_for(@song_type) do |f| %>
  <% if @song_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song_type.errors.count, "error") %> prohibited this song_type from being saved:</h2>

      <ul>
      <% @song_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :song_id %><br>
    <%= f.text_field :song_id %>
  </div>
  <div class="field">
    <%= f.label :genre_id %><br>
    <%= f.text_field :genre_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
