<h1>Listing song_types</h1>

<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @song_types.each do |song_type| %>
      <tr>
        <td><%= song_type.song %></td>
        <td><%= song_type.genre %></td>
        <td><%= link_to 'Show', song_type %></td>
        <td><%= link_to 'Edit', edit_song_type_path(song_type) %></td>
        <td><%= link_to 'Destroy', song_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song type', new_song_type_path %>
