<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @song_type.song %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song_type.genre %>
</p>

<%= link_to 'Edit', edit_song_type_path(@song_type) %> |
<%= link_to 'Back', song_types_path %>
