		/** browser configuration **/

		::-webkit-scrollbar {
			display: none;
		}
		::-webkit-scrollbar-track {
			background-color: #eaeaea;
			border-left: 1px solid #ccc;
		}
		::-webkit-scrollbar-thumb {
			background-color: #ccc;
		}
		::-webkit-scrollbar-thumb:hover {
			background-color: #cc9933;
		}
		*{
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
		}

		/** Page config**/

		body{
			/*background: url("../images/background_gray.jpg") top center no-repeat #c9c9c9;*/
			background: url("seamless_paper_texture.png");
		}
		*{
			outline: 0;
		}

		nav{
			border-bottom: 1px solid rgba(0,0,0,0.15);
			box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
		}

		#snow{
			pointer-events: none;
			background: none;
			font-family: Androgyne;
			background-image: url("s1.png"), url("s2.png"), url("s3.png");
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index:1;
			-webkit-animation: snow 10s linear infinite;
			-moz-animation: snow 10s linear infinite;
			-ms-animation: snow 10s linear infinite;
			animation: snow 10s linear infinite;
		}
		@keyframes snow {
			0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
			50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
			100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}
		@-moz-keyframes snow {
			0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
			50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
			100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
		}
		@-webkit-keyframes snow {
			0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
			50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
			100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}
		@-ms-keyframes snow {
			0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
			50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
			100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}

		img.e_border{
			height: 123px;
			width: 123px;
			overflow: hidden;
			background-color: white;
			border: 1px solid #D4D4D4;
			border-bottom: 1px solid #A7A7A7;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-box-shadow: 0px 5px 10px -7px #000;
			-webkit-box-shadow: 0px 5px 10px -7px #000;
			box-shadow: 0px 5px 10px -7px #000;
			padding: 3px;
		}

		@media screen and(max-width: 600px){
			ul#tabedbar{
				width: 100%;
			}
		}
		@media screen{
			ul#tabedbar{
				width: 65%;
			}
		}

		.main-separator{
			width: 100%;
			height: 2px;
			background: transparent url("main-separator.png") center center no-repeat;
			clear: both;
			margin: 25px 0px;
		}

		#notice{
			position: absolute;
			width: 30%;
			font-size: 16px;
			padding: 10px 0;
			background: rgba(204,153,51,0.6);
			border-radius: 0 4px 20px 0;
			margin: 20px auto;
			text-align: right;
			padding-right: 20px;
			color: white;
			box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.6);
		}

		.subscribers_list{
			list-style: none;
		}
		.subscribers_list li{
			display: block;
			padding: 10px 0;
			font-size: 19px;
			font-weight: bold;
		}
		.subscribers_list li img{
			height: 50px;
			width: 50px;
			margin-right: 20px;
		}

		.follow_img{
			color:#cc9933;
			position: absolute;
			font-size: 25px;
			right: 35px;
			top: 5px;
			text-shadow: -2px 2px 4px black;
			opacity: 0;
		}
		.user_img_col:hover .follow_img{
			opacity: 1;
			color:#cc9933;
		}
		.follow_img.following{
			opacity: 1;
		}

		aside.left-off-canvas-menu{
			background: white;
			color: black;
		}

		/** Main menu style **/
		ul.main_menu li a{
			color: #555555;

			border-bottom: 1px solid #B8B8B8;
		}
		ul.main_menu li a span{
			font-size: 25px;
			margin: 0px 25px 0 10px;
			width: 25px;
			display: inline-block;
		}
		ul.main_menu li a:hover{
			background-color: #cc9933;
			color: white;
		}
		div.menu_head{
			padding: 10px;
			background-color: #333333;
		}
		div.menu_head > img{
			width: 80px;
			height: 80px;
		}
		div.menu_head > span{
			color: white;
			vertical-align: top;
			margin: 10px 0 0 10px;
			display: inline-flex;
		}
		
		h1.title a{
			color: white;
			text-decoration: none;
		}


		/** main-section (pageBody) **/

		@media screen{
			.main-section-content{
				width: 60%;
			}
			div.page_header{
				width: 60%;
			}
		}
		@media screen and (max-width: 1024px){
			.main-section-content{
				width: 80%;
			}
			div.page_header{
				width: 80%;
			}
			.col{
				
			}
		}
		@media screen and (max-width: 1000px){
			.main-section-content{
				width:100%;
			}
		}
		@media screen and (max-width: 640px){
			div.page_header{
				width: 100%;
			}
			dl.tabs{
				padding: 0;
			}
		}

		.main-section-content{
			padding: 10px;
			min-height: 100%;
			margin: 30px auto;
			background: white;
			border: solid 1px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 10px -4px #000;
			border-radius: 4px;
			margin-bottom: 25%;
		}

		.tabs{
			margin: 0 auto;
			position: relative;
			display: table;
			width: 100%;
			background: url("nav-active.png") no-repeat;
			background-size: 100px 58px;
			-webkit-transition-property: background-position-x;
			-webkit-transition-duration: 1s;
			transition-duration: 1s;
			transition-property: background-position-x;
		}
		.tabs dd{
			width: 100px;
		}
		.tabs dd > a{
			padding: 1rem 25px;
			background-color: transparent !important;
			outline: 0;
			text-align: center;
		}
		.tabs dd a:hover{
			text-decoration: none;
			color: #cc9933;
		}
		dd.active {
			box-shadow: 0 0 8px -4px #cc9933 inset;
			transition-delay: 1s;
			background: rgba(51,153,255,0.01);
		}
		.tabs-content .content{
			-webkit-transition: all 1s ease-out;
			-moz-transition: all 1s ease-out;
			transition: all 1s ease-out;
			opacity: 0;
		}
		.tabs-content .content:hover{
			opacity: 1;
		}

		/** Home tab style **/

		.feed{
			margin: 60px 0 25px 0;
		}
		.feed:first-child{
			margin-top: 25px;
		}

		.playlist_border{
			background:transparent url('playlist_background.png');
		}

		#playlist{
			margin: 0 5%;
		}
		#playlist span{
			display: inline-block;
			width: 100%;

			font-size: 12px;
			text-align: center;
			margin-top: 5px;
		}

		#playlist.medium-items img{
			height:120px;
		}
		
		#playlist{
			overflow:auto;
		}
		#playlist > ul{
			display:inline-flex;
		}
		#playlist ul li{
			display: inline-table;
			margin-right: 20px;
			width: 115px;
		}

		/** Genres tab style **/
		.content_header{
			padding-bottom: 40px;
			padding-top: 25px;
		}
		
		.genre_list{
			margin: 0;
			padding:0;

			list-style: none;
		}
		.genre_list li a{
			text-decoration: none;
			color: black;

			padding-left: 15px;
		}
		.genre_list li span>a{
			font-size: 11px;
			font-style: italic;
			float: right;
			color:#66CCFF;

		}
		.genre_list li span.favorite_genre{
			float: right;
			color:white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		.genre_list li span.favorite_genre.selected{
			color: gold;
		}
		.genre_list li>hr{
			margin-top: 0;
		}
		.genre_list li>div{
			float: right;
			width: 100px;
		}		

		.track{
			padding-bottom: 10px;
		}

		.track{
			padding-bottom: 10px;
		}

		.price_tag span.fi-price-tag{
			font-size: 35px;
			-webkit-transition-property: font-size;
			-webkit-transition-duration: 1s;
			transition-duration: 1s;
			transition-property: font-size;
			color: #FFCC66;
			text-shadow: 0px 0px 8px rgba(0,0,0, 1);
			cursor: pointer;
		}
		.price_tag .price{
			font-size: 23px;
			position: relative;
			bottom: 80px;
			text-align: center;
			font-weight: 600;
			display: none;
			-webkit-transform: rotate(27deg);
			transform: rotate(27deg);					
		}
		.price_tag span.fi-price-tag img{
			position: absolute;
			bottom: 17px;
			right: 14px;
			width: 50px;
			transition-duration: 0.5s;
			transition: all 1s ease-out;
			opacity: 0;
		}
		.price_tag span.fi-price-tag:hover{
			font-size: 150px;
		}
		.price_tag span.fi-price-tag:hover img{
			bottom: 115px;
			right: 70px;
			width: 60px;
			opacity:1;
		}
		.price_tag:hover .price{
			display:block;
		}
		.song_info_banner{
			height: 200px;
			background: url('playlist_background.png');
		}

		.buy{
			width: 190px;
			margin-top: 10px;
		}
		.statistics{
			width: 190px;
		}

		.add_to_playlist{
			position: absolute;
			bottom: 95px;
			left: 180px;
			display: none;
		}
		.song_image_body:hover .add_to_playlist{
			display: block;
		}
		.song_info_body{
			height: 165px;
			padding-bottom: 40px;
		}

		.add_to_playlist > a{
			color: #cc9933;
			font-size: 20px;
			text-shadow: 0px 0px 1px white;
		}

		.buy > a{
			width: 100%;
			display: inline-block;
			height: 30px;
			font-size: 13px;
			font-weight: bold;
			line-height: 30px;
			color: #333;
			text-align: center;
			text-shadow: 0 1px 0 rgba(255,255,255,0.8);
			border: solid 1px #aaa;
			float: left;
			cursor: pointer;
			text-decoration: none;
			box-shadow: 0 1px 0 0 rgba(0,0,0,0.05),inset 0 1px 0 0 #fff;
			border-radius: 3px;
			background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
		}

		.buy i{
			right: 20%;
			position: relative;
		}

		#myplaylists{
			width: 150px;
		}

		#myplaylists li a{
			text-align: left;					
			text-decoration: none;
		}
		#myplaylists li a:hover{
			background-color: #cc9933;
			color: white;
		}
		.statistics span{
			font-size: 17px;
			color: gray;
		}
		.statistics .num_purchases{
			font-size: 22px;
			font-weight: 600;
			color: #cc9933;
		}
		.song_image_body{
			display:inline-block;
			width: 175px;
			float: left;
			padding: 0 30px;
		}
		.song_image_body img{
			display: inline-block;
			padding: 5px;
			border: 1px solid rgb(129, 127, 127);
			border-radius: 4px;
			background: white;
		}
		.purchases_info{
			display:inline-block;
			margin-top: 20px;
			text-align: center;
		}
		.add_to_playlist a i{
			left:8px;
			position: relative;
		}
		.genres_info{
			/*display:inline-block;
			width:75%;*/
		}
		.genres_info ul{
			list-style: none;
			margin: 0;
		}
		.genres_info ul li{
			display: inline-block;
		}
		.genres_info ul li .genre{
			background: #cc9933;
			color: white;
			border-radius: 3px;
			padding: 3px 6px;
			font-weight: bold;
			font-size: 13px;
		}
		.popularity{
			position: fixed;
			top: 110px;
			right: -90px;
			width: 335px;
			height: 67px;
			line-height: 67px;
			background: transparent url('movie-info-imdb-bg.png') right top no-repeat;
			margin-right: -32px;
			padding-left: 40px;
		}
		.popularity i{
			font-size: 35px;
			color: white;
			padding: 0 10px;
			text-shadow: -1px 1px 5px black;
		}
		.popularity i:hover{
			-webkit-transition-property: color;
			-webkit-transition-duration: 1s;
			transition-duration: 1s;	
		}
		.popularity i.fi-like{
			color: #B89929;
		}
		.popularity i.fi-like input {
			position: absolute;
			width: 16px;
			height: 26px;
			top: 19px;
			right: 300px;
			opacity: 0;
		}
		.popularity i.fi-dislike{
			color: #CC701F;
		}
		.popularity i.fi-dislike input {
			position: absolute;
			width: 16px;
			height: 26px;
			left: 112px;
			top: 17px;
			opacity: 0;
		}

		.popularity i.fi-star.favorite{
			color:#fff;
		}
		.popularity i.fi-star.unfavorite{
			color:#cc9933;
		}


		.popularity i.fi-like:hover{
			color:#99CC00;
		}
		.popularity i.fi-dislike:hover{
			color:#FF3300;
		}
		.popularity i.fi-star.favorite:hover{
			color:#cc9933;
		}
		.popularity i.fi-star.unfavorite:hover{
			color:#fff;
		}

		.popularity span{
			font-size: 18px;
			font-weight: bold;
			color: white;
			position: relative;
			bottom: 4px;
			text-shadow: -1px 1px 5px black;
		}
		.song_main_info{
			display: block;
			padding: 25px 30px 10px 0px;
			position:relative;
			width: 100%;
		}

		@media screen{
			.song_main_info .name{
				font-size: 40px;
			}
		}
		@media screen and (max-width: 1100px){
			.song_main_info .name{
				font-size: 25px;
			}
		}
		.song_main_info .name{
			display: block;
			color: white;
			font-weight: 600;
			text-shadow: -2px 2px 2px #000;
		}
		.song_main_info .artist{
			display: block;
			position: relative;
			font-size: 14px;
			color: white;
			margin-left: 3px;
			margin-top:15px;
			text-shadow: -2px 2px 2px #000;
		}
		.text_field{
			margin-top: 20px;
			position: relative;
			text-align: justify;
		}



		///////////

		p{
			text-align: justify;
			text-justify: inter-word;
		}

		.user_genres ul{
			list-style: none;
			margin: 0;
		}
		.user_genres ul li{
			display: inline-block;
		}
		.user_genres ul li span{
			display: block;
			font-size: 10px;
			margin-bottom: 3px;
			background-color: #cc9933;
			padding: 5px 10px;
			border-radius: 4px;
			margin: 3px 0;
		}
		.profile_header{
			margin-top: 50px;
			display: inline-flex;
		}
		.profile_header img{
			width: 120px;
			height: 120px;
		}
		span.name{
			font-size: 20px;
			display: block;
		}
		span.username{
			color: gray;
			font-size: 15px;
			display: block;
		}

		a.social_link{
			color: #cc9933;
			margin: 0 5px;
			font-size: 15px;
		}
		.user_info a{
			color: black;
		}
		.user_info a:hover{
			color: #cc9933;
			font-style: none;
			text-decoration:none;
		}
		.user_info p{
			font-size: 14px;
			margin: 15px 20px 15px 0;
		}
		.reveal-modal hr{
			margin-top: 0;
		}
		.reveal-modal p{
			padding: 20px 5%;
		}
		@media screen{
			p.brief_info{
				max-height: 60px;
				overflow: hidden;
			}
			.user_img_col{
				min-width: 130px;
				padding-left: 50px;
			}
			.account_info ul{
				margin-left: 200px;
			}
		}
		@media screen and (max-width: 640px){
			.reveal-modal p{
				padding: 20px 0%;
				font-size: 11px;
			}
			.user_info p.brief_info{
				font-size: 11px;
			}
			#info_modal{
				min-height: 0;
			}
			p.brief_info{
				max-height: 65px;
			}
			div.col{
				display: block;
				padding: 0 5px;
				max-width: 50%;
			}
			div.reveal-modal a.change_modal{
				margin: 0;
			}
			.user_img_col{
				min-width: 130px;
				padding-left: 50px;
			}
			.account_info ul{
				margin-left: 130px;
			}
		}
		@media screen and (max-width: 420px){
			.account_info ul{
				margin-left: 0px;
			}
		}
		
		@media screen and (max-width: 380px){
			.user_info p.brief_info{
				font-size: 10px;
			}
			.account_info ul{
				margin-left: 0px;
			}
			.col{
				display: inline-block;
				padding: 0 5px;
				max-width: 50%;
			}
		}
		
		.reveal-modal a.change_modal{
			color:#cc9933;
			font-size: 20px;
			margin: 0 40px;
		}
		.col{
			display: inline-block;
			padding: 0 5px;
			max-width: 64%;
		}
		.account_info ul{
			list-style: none;
			display: inline-block;
			margin-bottom: 0;
		}

		.account_info ul li{
			font-size: 12px;
			display: block;
			padding: 0 15px 0 15px;
			float: left;
			line-height: 20px;
		}
		.account_info ul li a{
			text-decoration: none;
		}
		.song_count{
			display: block;
			height: 20px;
			margin-right: 7px;
			line-height: 16px;
			color: #cc9933;
			font-size: 16px;
			vertical-align: top;
		}
		.lable{
			display: block;
			height: 10px;
			line-height: 10px;
			vertical-align: middle;
			text-transform: uppercase;
			color: #888;
		}

		.user_img_col img{
			float: left;
			overflow: hidden;
			background-color: white;
			border: 1px solid #D4D4D4;
			border-bottom: 1px solid #A7A7A7;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-box-shadow: 0px 5px 10px -7px #000;
			-webkit-box-shadow: 0px 5px 10px -7px #000;
			box-shadow: 0px 5px 10px -7px #000;
			padding: 3px;
		}
/*		#dropzone{
			margin: 30px 0;
			padding: 4px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			position: relative;
			display: inline-block;
			height: 140px;
			width: 100%;
			cursor: pointer;
		}
		#dropzone .dropzone {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.dropzone .dz-default.dz-message {
			opacity: 1;
			-ms-filter: none;
			filter: none;
			-webkit-transition: opacity 0.3s ease-in-out;
			-moz-transition: opacity 0.3s ease-in-out;
			-o-transition: opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			background-image: url("../images/spritemap.png");
			background-repeat: no-repeat;
			background-position: 0 0;
			position: absolute;
			width: 428px;
			height: 123px;
			margin-left: -214px;
			margin-top: -61.5px;
			top: 50%;
			left: 50%;
		}
		.dropzone {
			border: 1px solid rgba(0,0,0,0.03);
			min-height: 360px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			background: rgba(0,0,0,0.03);
			padding: 23px;
		}
		.dropzone {
			position: relative;
			border: 1px solid rgba(0,0,0,0.08);
			background: rgba(0,0,0,0.02);
			padding: 1em;
		}
		.upload_info{
			list-style: none;
			position: relative;
			width: 55%;
			top: 8px;
			left: 105px;
		}
		.upload_info li{
			display: inline-block;
			position: relative;
		}

		.upload_info li input{
			border-radius: 4px;
			height: 30px;
			margin-right: 10px;
			border: 0;
			padding-left: 35px;
			background: transparent;
			box-shadow: none;
		}

		.upload_info i{
			position: relative;
			display: inline-block;
			top: 24px;
			left: 10px;
			z-index: 1;
		}

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}

		.dz-preview.dz-processing.dz-image-preview.dz-success {
			display: inline-block;
			position: absolute;
			top: 200px;
			left: 20px;
		}
		.dz-default.dz-message img{
			width: 100%;
			margin: 0 auto;
			display: block;
		}
		.dz-success-mark{
			display: none;
		}
		.dz-error-mark{
			display: none;
		}

		@media screen and (max-width: 900px){
			div#upload_song.reveal-modal{
				width:100%;
			}
		}
		@media screen and (max-width: 730px){
			.upload_info{
				width:75%;
			}
		}
		@media screen and (max-width: 560px){
			.upload_info{
				left: 0px;
				width:100%;
			}
			.dz-default.dz-message img{
				width: 55%;
			}
		}
		*/

		p{
			text-align: justify;
			text-justify: inter-word;
		}

		#pnumber {
			width: 150px;
			margin-left: 20px;
			display:inline-block;

		}

		#fname {
			width: 400px;
			display:inline-block;
		}

		#ppb {
			background-color: #B8860B;
			color: #FFFFFF;
		}

		.user_genres ul{
			list-style: none;
			margin: 0;
		}
		.user_genres ul li{
			display: inline-block;
		}
		.user_genres ul li span{
			display: block;
			font-size: 10px;
			margin-bottom: 3px;
			background-color: #cc9933;
			padding: 5px 10px;
			border-radius: 4px;
			margin: 3px 0;
		}
		.profile_header{
			margin-top: 50px;
			display: block;
		}
		.profile_header img{
			width: 120px;
			height: 120px;
		}
		span.username{
			font-size: 20px;
			display: block;
		}
		a.social_link{
			color: #cc9933;
			margin: 0 5px;
			font-size: 15px;
		}
		.user_info a {
			color: black;
			font-style: none;
			text-decoration:none;
		}
		.user_info p{
			font-size: 14px;
			margin: 15px 20px 15px 0;
		}
		.reveal-modal hr{
			margin-top: 0;
		}
		.reveal-modal p{
			padding: 20px 5%;
		}
		@media screen{
			p.brief_info{
				max-height: 60px;
				overflow: hidden;
			}
			.user_img_col{
				min-width: 130px;
				padding-left: 50px;
			}
			.account_info ul{
				margin-left: 200pxpx;
			}
		}
		@media screen and (max-width: 640px){
			.reveal-modal p{
				padding: 20px 0%;
				font-size: 11px;
			}
			.user_info p.brief_info{
				font-size: 11px;
			}
			#info_modal{
				min-height: 0;
			}
			p.brief_info{
				max-height: 65px;
			}
			div.col{
				display: inline-block;
				max-width: 50%;
			}
			div.reveal-modal a.change_modal{
				margin: 0;
			}
			.user_img_col{
				min-width: 130px;
				padding-left: 50px;
			}
			.account_info ul{
				margin-left: 130px;
			}
		}
		@media screen and (max-width: 420px){
			.account_info ul{
				margin-left: 0px;
			}
		}

		@media screen and (max-width: 380px){
			.user_info p.brief_info{
				font-size: 10px;
			}
			.account_info ul{
				margin-left: 0px;
			}
		}

		.reveal-modal a.change_modal{
			color:#cc9933;
			font-size: 20px;
			margin: 0 40px;
		}
		.account_info ul{
			list-style: none;
			display: inline-block;
			margin-bottom: 0;
		}

		.account_info ul li{
			font-size: 12px;
			display: block;
			padding: 0 15px 0 15px;
			float: left;
			line-height: 20px;
		}
		.account_info ul li a{
			text-decoration: none;
		}
		.song_count{
			display: block;
			height: 20px;
			margin-right: 7px;
			line-height: 16px;
			color: #cc9933;
			font-size: 16px;
			vertical-align: top;
		}
		.lable{
			display: block;
			height: 10px;
			line-height: 10px;
			vertical-align: middle;
			text-transform: uppercase;
			color: #888;
		}    
		.upload_info{
			list-style: none;
			position: relative;
			margin: 15px;
			min-height: 0;
		}
		.upload_info li{
			display: inline-block;
			position: relative;
		}

		.upload_info li input{
			border-radius: 4px;
			height: 30px;
			margin-right: 10px;
			border: 0;
			padding-left: 35px;
			background: transparent;
			box-shadow: none;
		}

		.upload_info i{
			position: relative;
			display: inline-block;
			top: 29px;
			left: 10px;
			z-index: 1;
		}

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}

		.sign_up_form{
			width: 60%;
		}
		.sign_up_form input{
			background: #f5f5f5;
			transition: border linear .2s;
			border: 1px solid #bbb;
			border-radius: 2px;
			box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
		}
		.sign_up_form input:focus{
			background: #f5f5f5;
			color: black;
			border: 1px solid #cc9933;
		}
		.sign_up_form br{
			display: none;
		}
		.sign_up_form p{
			padding: 0px;
			margin: 0;
		}
		.sign_up_form h1{
			text-align: center;
			display: block;
		}

		.section-title{
			border-top: solid 2px #eaeaea;
			text-align: center;
		}

		.section-title h3{
			position: relative;
			display: inline-block;
			top: -11px;
			padding: 0 10px;
			margin-bottom: 0;
			font-size: 11px;
			color: #bbb;
			text-transform: uppercase;
			font-weight: bold;
			background: #fff;
		}
		a.twitter{
			width: 118px;margin-right: 20px;background-color: #00a7e6;
			background-image: -moz-linear-gradient(top, #00aced, #00a0dc);
			background-image: -ms-linear-gradient(top, #00aced, #00a0dc);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00aced), to(#00a0dc));
			background-image: -webkit-linear-gradient(top, #00aced, #00a0dc);
			background-image: linear-gradient(top, #00aced, #00a0dc);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ff00aced', endColorstr='#ff00a0dc', GradientType=0);
			box-shadow: 0 1px 0 0 #e5e5e5,inset 0 1px 0 0 #33bdf1;
			border: solid 1px #0088bc;
		}
		a.google{
			background-color: #d84936;
			background-image: -moz-linear-gradient(top, #dd4c39, #d14432);
			background-image: -ms-linear-gradient(top, #dd4c39, #d14432);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4c39), to(#d14432));
			background-image: -webkit-linear-gradient(top, #dd4c39, #d14432);
			background-image: linear-gradient(top, #dd4c39, #d14432);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffdd4c39', endColorstr='#ffd14432', GradientType=0);
			border-radius: 3px;
			box-shadow: 0 1px 0 0 #e5e5e5,inset 0 1px 0 0 #e47061;
			border: solid 1px #ac3d2f;
			float: right;
		}
		a.button.third-party{
			position: relative;
			height: 30px;
			padding: 0 5px;
			border-radius: 3px;
			width: 118px;
		}
		a.button.third-party i{
			position: relative;
			top: 7px;
			margin: 0 8px 0 5px;
			display: block;
			float: left;
		}
		a.button.third-party span{
			width: 83px;
			font-size: 12px;
			position: relative;
			height: 18px;
			top: 6px;
			line-height: 18px;
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
			text-align: center;
			display: block;
			float: left;
		}
		a.button.third-party.google span{
			border-left: solid 1px #ac3d2f;
		}
		a.button.third-party.twitter span{
			border-left: solid 1px #0088bc;
		}
		.button.submit{
			background: #cc9933;
			padding: 6px 2px;
			border-radius: 3px;
			box-shadow: -1px 1px 5px 0px black;
			float: right;
		}
		.button.submit input{
			background: none;
			border: none;
			box-shadow: none;
		}

		#no_search_song {
			background-color: #B8860B;
			border-color :#B8860B;
			color: #FFFFFF;
		}

		#bsb {
			background-color: #FFFFFF;
			color: #B8860B;
			font-weight: bold;
			font-size: 150%;
			margin-left: 5px;
		}

		.card {
			position: relative;
			padding: 0;
			margin: 0;
			-webkit-perspective: 5000;
			perspective: 5000; 
		}

		.card .container {
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transition: 0.6s;
			transition: 0.6s; 
		}

		.card .container .front, .card .container .back {
			width: 100%;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden; 
		}

		.card .container .front .row, .card .container .front .column, .card .container .front .columns, .card .container .back .row, .card .container .back .column, .card .container .back .columns {
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden; 
		}

		.card .container .front {
			z-index: 2; 
		}

		.card .container .back {
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			overflow-y: scroll;
			-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg); 
		}

		.card .container:hover {
			-webkit-transform: rotate3d(0, 1, 0, 180deg);
			transform: rotate3d(0, 1, 0, 180deg); 
		}

		.card .container {
			border: solid 1px #eeeeee; 
		}

		.card .container .front, .card .container .back {
			padding: 1em; 
		}

		.card.square .container {
			width: 100%;
			height: 0;
			padding-bottom: 100%; 
		} 