ul.genre_list li{
padding: 5px 0;
border-radius: 11px;
}
ul.genre_list li:hover{
background: #eee;
}
ul.genre_list li:hover a.genreName{
color: #cc9933;
}


@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

.ed_tab > ul > li:before, .ed_tab > ul > li:after {
opacity: 0;
transition: 0.3s ease;
}
.ed_tab > ul > li.ui-tabs-active:before, .ed_tab > ul > li.ui-tabs-active:after, .ed_tab > ul > li.ui-state-hover:before, .ed_tab > ul > li.ui-state-hover:after, .ed_tab > ul > li.ui-state-focus:before, .ed_tab > ul > li.ui-state-focus:after {
opacity: 1;
}
.ed_tab > ul > li:before, .ed_tab > ul > li.ui-state-active.ui-state-hover:before, .ed_tab > ul > li.ui-state-active.ui-state-focus:before {
content: "";
position: absolute;
z-index: -1;
box-shadow: 0 2px 3px rgba(204, 153, 51, 1);
top: 50%;
bottom: 0px;
left: 5px;
right: 5px;
border-radius: 100px / 10px;
}
.ed_tab > ul > li:after, .ed_tab > ul > li.ui-state-active.ui-state-hover:after, .ed_tab > ul > li.ui-state-active.ui-state-focus:after {
content: "";
background: #fafafa;
position: absolute;
width: 12px;
height: 12px;
left: 50%;
bottom: -6px;
margin-left: -6px;
transform: rotate(45deg);
box-shadow: inset 3px 3px 3px rgba(204, 153, 51, 1), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.ed_tab > ul > li.ui-state-hover:before, .ed_tab > ul > li.ui-state-focus:before {
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.ed_tab > ul > li.ui-state-hover:after, .ed_tab > ul > li.ui-state-focus:after {
box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.ed_tab > ul > li.ui-state-focus a {
text-decoration: underline;
}
.ed_tab > ul > li:focus {
outline: none;
}
.ed_tab > ul > li a:focus {
outline: none;
}
.ed_tab {
width: 90%;
min-width: 360px;
margin: auto;
}

