// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-button {
position: absolute;
width: 16px;
height: 26px;
left: 182px;
top: 18px;
opacity: 0;
}
