<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>Reason</th>
      <th>Checked</th>
      <th>Reportable</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.reason %></td>
        <td><%= report.checked %></td>
        <td><%= report.reportable %></td>
        <td><%= report.admin %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
