<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @report.reason %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @report.checked %>
</p>

<p>
  <strong>Reportable:</strong>
  <%= @report.reportable %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @report.admin %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
