<div id="searches" class="reveal-modal" data-reveal style="padding: 0px;">
	<dl class="tabs" data-tab>
		<dd class="active"><a href="#search_song" onclick="tabsAnimation('search_song')">Songs</a></dd>
		<dd class="genre"><a href="#search_user" onclick="tabsAnimation('search_user')">Users</a></dd>
	</dl>

	<div class="tabs-content" style="padding: 0 5%;width: initial;">
		<div class="content active" id="search_song">
			<div class="content_header">
				<h2>Search Songs</h2>
			</div>

			<form accept-charset="UTF-8" action="/search_song" class="search_song" method="get" id="search_song">
				<input style="width:300px;" id="song_name" name="song[name]" type="text" placeholder=" Song name" />
				<input style="width:100px;display:inline-block;" id="song_price" name="song[price]" type="number" min="0.01" max="10" step="0.01" placeholder=" Song price" />
				<input style="width:197px;display:inline-block;" id="song_main_influence" name="song[main_influence]" type="text" placeholder=" Song main influence" />
				<br>
				<select style="width:100px;height:20px;margin-right:20px;" id="song_genre" name="song[genre]">
					<option>Song genre</option>
					<option>Pop Rock</option>
					<option>Jazz</option>
					<option>Alternative Rock</option>
					<option>Hip-hop</option>
					<option>Eletronic</option>
					<option>Country</option>
					<option>Classic Rock</option>
					<option>Metal</option>
					<option>Reggae</option>
				</select>


				<input class="button radius tiny" type="submit" value="Search"/>
			</form>			
		</div>
		<div class="content" id="search_user">
			<div class="content_header">
				<h2>Search Users</h2>
			</div>
			<form accept-charset="UTF-8" action="/search_user" class="search_user" method="get" id="search_user">
				<input style="width:300px;" id="user_nationality" name="user[nationality]" type="text" placeholder="Nationality" />
				<input style="width:197px;display:inline-block;" id="user_influencia" name="user[influencia]" type="text" placeholder=" Influenced by" />
				<br>


				<input class="button radius tiny" type="submit" value="Search"/>
			</form>	
		</div>
	</div>

	<a class="close-reveal-modal">&#215;</a>
</div>