<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<title><%= content_for?(:title) ? yield(:title) : "FlipTalent" %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="page">
		<div class="off-canvas-wrap" data-offcanvas>
			
			<div class="inner-wrap" style="min-height: 371px;">
				
				<nav class="tab-bar">
					<% if session[:user_id] %>
					<section class="left-small" style="border:0;">
						<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
					</section>
					<% end %>
					<section class="middle tab-bar-section">
						<h1 class="title"><a href="/"><%= image_tag("brand.png", style:"max-height: 43px;") %></a></h1>
					</section>

					<% if session[:user_id] == nil %>
					<section class="top-bar-section" style="border:0;width: initial;float:right">		
						<div class="has-dropdown not-click" style="max-width:300px">
							<a href="#" class="fi-list" style="color: white;font-size: 30px;"></a>
							<ul class="dropdown" style="left: -105px;top: 45px;width: 129px;list-style: none;">
								<li>
									<a href="#" data-reveal-id="signup" style="background:white;font-size: 17px;color: gray;font-weight: bold;border-bottom: 2px solid #cc9933;padding: 0 15px;"><span>Sign Up</span></a>
								</li>
								<li>
									<a href="#" data-reveal-id="login" style="background:white;font-size: 17px;color: gray;font-weight: bold;padding: 0 15px;"><span>Log In</span></a>
								</li>
							</ul>
						</div>							
					</section>
					<% end %>

				</nav>

				<% if session[:user_id] %>
				<aside class="left-off-canvas-menu">
					<ul class="off-canvas-list main_menu">
						<li>
							<div class="menu_head">
								<% if User.find(session[:user_id]).avatar_url %>
								<%= image_tag(User.find(session[:user_id]).avatar_url) %>
								<% else %>
								<%= image_tag("default_user.png") %>
								<% end %>										
								<span><%= User.find(session[:user_id]).name %></span>
							</div>
						</li>
						<li><%= link_to '<span class="fi-torso"></span>Profile'.html_safe, user_show_path(current_user.username) %></li>
						<li><%= link_to '<span class="fi-star"></span>Favorites'.html_safe, user_favorites_path(User.find(session[:user_id]).username) %></li>
						<li><a href="#"><span class="fi-music"></span>Playists</a></li>
						<li>
							<a data-reveal-id="searches" href="#"><span class="fi-magnifying-glass"></span>Search</a>
							<%= render "layouts/searchmodal" %>
						</li>
						<!--li><%= link_to '<span class="fi-widget"></span>Account'.html_safe, account_path(session[:user_id]) %></li-->
						<li><a href="#"><span class="fi-info"></span>Help</a></li>
						<li><a href="/logout"><span class="fi-power"></span>Sign out</a></li>
					</ul>
				</aside>
				<% end %>

				<section class="main-section">
					<br>
					<div class="main-section-content" style="padding:0">
						<!--div id="snow"></div-->
						<%= yield %>
					</div>
				</section>
				<div class="footer" style="color: #9197a3;">
					<span style="float: left;padding-left: 10px;">FEUP - Faculdade Engenharia Universidade Porto</span>
					<span style="float: right;padding-right: 10px;">©2014 FlipTalent Pt</span>
				</div>

				<a class="exit-off-canvas" style="box-shadow:none;background: rgba(255, 255, 255, 0.5);"></a>

				<div id="off-canvas-anchor"></div>

			</div>
		</div>
	</div>
	<%= javascript_include_tag "application" %>
</body>
</html>